@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    box-sizing: border-box;
    top: 20%;
    text-align: center;
    background-color: #523c5a;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nav ul {
    display: flex;
    list-style: none;
}

.titulo {
    color: rgb(254, 254, 254);
    font-size: 27px;
}

.paragrafo {
    color: #ffffff;
    font-size: 32px;
}

.link {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 150px;
    height: 100%;
    background: #ffffff;
    border-radius: 8px;
    font-size: 19px;
    color: #020202;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #7f1a81;
    z-index: -1;
    transition: .5s;
}

.link:hover::before {
    width: 100%;
}

